/* General Styles */
body {
  margin: 0;
  width: 100%;
  background-image: url("Form/IMG/F.jpg");
}

/* Logo */
.logo-epn {
  width: 200px;
  height: 200px;
}

/* Estilo del título */
h1 {
  color: #1b1b32;
  font-family: Roboto, sans-serif;
  text-align: center;
  margin: 20px 0;
}

/* Listas de Tareas */
.lista-tareas {
  width: 600px;
  min-height: 500px;
  background-color: #fefeff;
  opacity: 95%;
  padding: 25px;
  margin-left: auto; /* Ajustar la alineación horizontal */
  margin-right: auto; /* Ajustar la alineación horizontal */
  border-radius: 26px;
  align-content: center;
}